# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/
.venv/
venv/
.env

# Backend envs
Backend/.env

# Node
node_modules/
Frontend/node_modules/

# Build outputs
Frontend/dist/

# OS
.DS_Store
Thumbs.db
